body {
	background-color:#303030;
}

h1 {
	color: white;
	font-family: 'Roboto Mono', monospace;
}

p {
	color: white;
	font-family: 'Roboto Mono', monospace;
}

a {
	color: white;
	font-family: 'Roboto Mono', monospace;
}