body {
	background-color:#303030;
}

h1 {
	font-family: 'Roboto Mono', monospace;
	color: white;
}

p {
	font-family: 'Roboto Mono', monospace;
	color: white;
}

a {
	font-family: 'Roboto Mono', monospace;
	color: white;
}